<!DOCTYPE html>
<html lang="en" xmlns:th=www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <title>ECharts</title>
    <script src="js/echarts.min.js"></script>
    <script src="js/jquery-3.4.1.js"></script>
</head>
<body>
<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM
// data: [3.22, 3.23, 3.24, 3.25, 3.26, 3.27]
// data: ["2018-08-10", "2018-08-11", "2018-08-12", "2018-08-11", "2018-08-11", "2018-08-11"],
-->
<div id="main" style="width: 800px;height:400px;"></div>


<script type="text/javascript" th:inline="javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    //数据
    var xValue = [[${xData}]];
    var yValue0 = [[${yData.get(0)}]];
    var yValue1 = [[${yData.get(1)}]];
    var yValue2 = [[${yData.get(2)}]];
    var yValue3 = [[${yData.get(3)}]];
    var yValue4 = [[${yData.get(4)}]];
    var yValue5 = [[${yData.get(5)}]];
    var yValue6 = [[${yData.get(6)}]];
    var yValue7 = [[${yData.get(7)}]];

    // 指定图表的配置项和数据
    var option = {

        title: {
            text: '风沙因子变化趋势图'
        },
        tooltip: {},
        legend: {
            data: ['温度', '湿度', ' 光照强度', 'CO2浓度', 'PM 2.5', 'PM 10', '风向', '风速'],
            //垂直显示
            orient: 'vertical',
            //延Y轴居中
            y: 'center',
            //居右显示
            x: 'right'
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: xValue
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name: '温度',
                type: 'line',
                data: yValue0
            },
            {
                name: '湿度',
                type: 'line',
                data: yValue1
            },
            {
                name: '光照强度',
                type: 'line',
                data: yValue2
            },
            {
                name: 'CO2浓度',
                type: 'line',
                data: yValue3
            },
            {
                name: 'PM 2.5',
                type: 'line',
                data: yValue4
            },
            {
                name: 'PM 10',
                type: 'line',
                data: yValue5
            },
            {
                name: '风向',
                type: 'line',
                data: yValue6
            },
            {
                name: '风速',
                type: 'line',
                data: yValue7
            }

        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</body>
</html>